.header {
    display: flex;
    justify-content: flex-start; /* Aligns content to the left */
    align-items: center; /* Centers items vertically if needed */
    padding: 30px; /* Optional: Add some padding around the header */
    margin: 0px;
}


.headerh1 {
    font-size: 2rem;
    margin: 0;
    padding: 0; /* Removes unwanted spacing */
}
